extends ../../layout

block title
  title edit

block content
  h2 edit
  br

  form(method='post' action=`/articles/${article.id}?_method=PUT`)
    //- include /edit.pug
    .title
        label Title
        br
        input(name='title' value=article.title)

    .desc
        label Description
        br
        textarea(name="desc", cols="30", rows="10")= article.content
    
    .buttons
        a(href='/articles') cancel
        button(type='submit') submit