extends ../layout

block title
  title main

block content
  h1 express
  p Welcome to express
  table
    thead
      tr
        th id
        th name
    tbody
      each user in users
        tr
          td #{user.id}
          td #{user.name}

        
